SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=alhakamsofts@gmail.com
SMTP_PASSWORD=uovx xbyw ymbv dffq
SMTP_FROM_EMAIL=alhakamsofts@gmail.com
NOTIFICATION_RECIPIENT_EMAIL=info@hakamtechsol.com,alhakamsofts@gmail.com
